.chat-messages {
  list-style: none;
}

.sender-color {
  background-color: gray;
  border-radius: 50%;
  height: 2em;
  width: 2em;
}

.message-data {
  font-size: 20px;
  background-color: gray;
  border-radius: 0.6em;
  padding: 0.4em;
  width: fit-content;
}

.sender-name {
  font-size: 14px;
  font-style: italic;
}

li {
  margin-bottom: 2em;
}
// TODO: dodati currentUser i guest razlike!
